[submodule "src/third_party/openvdb"]
	path = src/third_party/openvdb
	url = https://github.com/mavenkim2/openvdb.git
	branch = main
[submodule "src/third_party/ptex"]
	path = src/third_party/ptex
	url = https://github.com/wdas/ptex.git
