[submodule "src/third_party/ptex"]
	path = src/third_party/ptex
	url = https://github.com/wdas/ptex.git
[submodule "src/third_party/zlib"]
	path = src/third_party/zlib
	url = https://github.com/mitsuba-renderer/zlib.git
[submodule "src/third_party/OpenSubdiv"]
	path = src/third_party/OpenSubdiv
	url = https://github.com/PixarAnimationStudios/OpenSubdiv.git
[submodule "nvapi"]
	path = src/third_party/nvapi
	url = https://github.com/NVIDIA/nvapi.git
[submodule "src/third_party/METIS"]
	path = src/third_party/METIS
	url = https://github.com/KarypisLab/METIS.git
[submodule "src/third_party/GKlib"]
	path = src/third_party/GKlib
	url = https://github.com/KarypisLab/GKlib.git
[submodule "oneTBB"]
	path = src/third_party/tbb
	url = https://github.com/uxlfoundation/oneTBB.git
	branch = onetbb_2021
